[project]
name = "mysite"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0.1",
    "faker>=40.1.2",
    "pillow>=12.1.0",
]

[dependency-groups]
dev = [
    "ipython>=9.9.0",
]
