name: Django CI

on:
  push:
    branches: [ "wk05" ]
    paths:
      - "backend/**"

  pull_request:
    branches: [ "wk05" ]
    paths:
      - "backend/**"

jobs:
  build-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          
      - name: Run Tests
        run: |
          python manage.py test
      
                
